@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F3F4F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Fix for huge H1 in blog posts */
.prose h1 {
  font-size: 1.75rem !important;
  /* Force smaller size (~28px) */
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 1rem;
}